*{ font-family: arial; }
body {

	margin:0;
	padding: 0;
}

.topo {

	height: 50px;
	background: #353535;
}

.topointerior {

	width: 1000px;
	margin: auto;
	color: #fff;
}

.logomarca {
	float: left;
	font-size: 24px;
	line-height: 50px;
}

.menu {
	float: right;

}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px; 
	font-size: 14px;
	cursor: pointer;
}

.menu li:hover {
	background: #3480c1;

}

.banner {

	height: 300px;
	background: #347aba;

}

.bannerinterior{
	width: 1000px;
	margin: auto;
}

.banneresquerda {
	float:left;
	color: #fff;
}

.bannerdireita {
	float: right;
	background: #cc00ff;
}

.botao {
	background-color: #ffc001;
	width: 282px;
	height: 56px;
	border-radius: 4px;
	font-size: 20px;
	text-align: center;
	line-height: 56px;
	color: #111111;
	cursor: pointer;
}
